<%- include("header"); -%></head>

<body>
  <form class="home-form mb-3" action="/" method="post">
    <h1>Prosím vyplňte finální formulář</h1>
    </p>
    <button class="btn btn-success" type="submit">Continue</button>
  </form>
</body>

</html>