<%- include("header"); -%>
</head>
<body>
  <form class="home-form mb-3" action="/" method="post">
    <h1>Vítejte v testovací aplikaci</h1>
    <p>Cílem aplikace je otestovat 3D vizualizace ve výuce geografie</p>
    <p>Vaše uživatelské ID je: <%= userId %></p>
    <button class="btn btn-success" type="submit">Continue</button>
  </form>
</body>

</html>