<%- include("header"); -%>
<%- include("importmap"); -%>

</head>

<body>
  <div class="progress-bar-container progress">
    <label for="progress-bar">Loading...</label>
    <progress id="progress-bar" value="0" max="100"></progress>
  </div>
  <form class="scene-form" action="/" method="post">
    <h1>User id: <%= userId %>
    </h1>
    <input type="text" name="message">
    <button class="post" type="submit" name="userID">Submit</button>
  </form>
  <script type="module" src="js/scene_1.js"></script>
</body>

</html>